body {
    font-family: monospace; 
    font-weight: bold;
    background-size: 100% 5000%;
    background-repeat:no-repeat;
    margin: 20px;
    
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
p {
    color: black;
    font: size 20px;
    border: 1.5px solid black;
    background: rgb(147,147,147);
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(147,147,147,1) 0%, rgba(255,255,255,1) 100%);
}
h1 {
    color: black;
}
button {
    color: white;
    background: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    
    background: rgb(147,147,147);
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(147,147,147,1) 0%, rgba(255,255,255,1) 100%);
    border: 1.5px solid black;
}

li {
    display: inline;
    color: white;

}
/* link colors */
a {
    text-shadow: black;
    color: black;
    
    
}

a:hover {
    text-transform:uppercase;
}